Pontus Engström <pontusen@student.chalmers.se>
Pontus Engström <pontusen@student.chalmers.se> <93657710+Pontanami@users.noreply.github.com>

Dennis Christensen <dennis.f.christensen@gmail.com>
Dennis Christensen <dennis.f.christensen@gmail.com> <54890763+Dennis-coder@users.noreply.github.com>

Carl Odqvist <odqvistcarl@gmail.com> <93658028+vistca@users.noreply.github.com>

Isac Ingvast Wennerström <s01isin79@gmail.com>
Isac Ingvast Wennerström <s01isin79@gmail.com> <68280760+IsacWenn@users.noreply.github.com>

Johan Berg <bejo@student.chalmers.se> <112545226+LitenChungus@users.noreply.github.com>
Johan Berg <bejo@student.chalmers.se> <41877993+FishuDaddy@users.noreply.github.com>

