.pane_normal {
    -fx-border-width: 1px;
    -fx-border-color: #999999;
    -fx-background-color: #FFFFFF;
    -fx-border-radius: 1px;
    -fx-background-radius: 1px;
}
.pane_normal:hover {
    -fx-background-color: #C1C1C1;
}
.pane_normal:pressed {
    -fx-background-color: #B1B1B1;
}

.pane_active {
    -fx-border-width: 1px;
    -fx-border-color: #999999;
    -fx-background-color: #D5D5D5;
    -fx-border-radius: 1px;
    -fx-background-radius: 1px;
}
.pane_active:hover {
    -fx-background-color: #C1C1C1;
}
.pane_active:pressed {
    -fx-background-color: #B1B1B1;
}